h1{
    font-size: 60pt;
    color: rgba(255, 255, 255, 0.647);
}
#silver_title{
    padding: 5% 5%;
    background: linear-gradient(to top, rgba(173, 173, 173, 0.3), rgba(186, 186, 186, 0.3));
    
    text-align: center;
}
article{
    text-align: justify;
    padding: 1% 5% 5%;
    color: rgba(255, 255, 255, 0.647);
    font-size: x-large;
}
/* Форма */
#form{
    text-align: center;
    padding: 5% 0%;
    background: linear-gradient(to top, rgba(129, 129, 129, 0.3), rgba(112, 112, 112, 0.3));;
    color: rgba(255, 255, 255, 0.647);
}
form{
    width: 60%;
    margin: auto;
    font-size: large;
    
}

.required_star {
    color: rgb(255, 185, 185);
}
fieldset{
    padding: 2% 2% 2% 10%;
    text-align: left;
}
label, input{
    margin-top: 2%;
}
#reset_btn, #submit_btn{
    width: 40%;
    height: 50px;
    margin: 0% 1%;
    
    border: 0px;
    font-family: Montserrat;
}
input{
    background-color: rgba(255, 255, 255, 0.244);
}
input[type=email], input[type=text], input[type=tel]{
    border: 0cap;
    height: 30px;
    width:50%;
    color: rgb(255, 255, 255);
    /* height: 100%; */
}
input::placeholder {
  color: rgba(208, 208, 208, 0.87);
}

#reset_btn{
    color:rgba(255, 255, 255, 0.87); ;
     background-color: rgba(39, 39, 39, 0.647);
}
#submit_btn{
    background-color: rgba(255, 255, 255, 0.647);
}


@media (width< 1095px) {
    #silver_title h1{
        font-size: 40pt;
    }
    article{
        font-size: x-large;
    }
}
