body {
    font-family: Arial;
    background: linear-gradient(to right, rgb(34, 34, 34), rgb(71, 71, 71));
}


/* меню */

.navigation a {
    font-size: larger;
    padding: 1% 2%;

}

.navigation {
    margin: 0.5% 5%;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation a,
.contacts a {

    text-align: center;
    font-size: 40pt;

    color: rgba(255, 255, 255, 0.688);
    text-decoration: none;
    transition: color 1s ease;

}

.navigation a:hover,
.contacts a:hover {
    color: rgb(255, 255, 255);
    transition: color 1s ease;
}

/* контакты */
footer {

    text-align: center;
    background: linear-gradient(to right, rgb(12, 12, 12), rgb(37, 37, 37));
}


.basic_h2 {
    color: rgba(255, 255, 255, 0.647);
    padding-top: 1%;
    text-align: center;
    font-size: xx-large;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacts a,
.contacts {
    padding: 0% 1% 1% 1%;
    /* margin: 1vw; */
}

.contacts a {
    font-size: large;
}




header {
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to top, rgba(97, 97, 97, 0.3), rgba(119, 119, 119, 0.3));
}

@media (width< 1095px) {

    .navigation,
    .contacts {
        flex-direction: column;
    }

    .navigation a {
        font-size: xx-large;
    }
}

@media (width<768) {

    .navigation a {
        font-size: medium;

    }

    .navigation a,
    .contacts a {
        font-size: 20pt;
    }

    .basic_h2 {
        font-size: large;
    }

    /* margin: 1vw; */

    .contacts a {
        font-size: medium;
    }
}

/* конец меню */