.stage {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(173, 173, 173, 0.3), rgba(186, 186, 186, 0.3));
}

#galery {
    margin: auto;
    /* margin-bottom: 0%; */
    position: relative;
    
    height: 75vh;
    width: 70%;
    /* height: 50%; */
    /* background-color: aqua; */

}

#buttons {
    /* background: linear-gradient(to top, rgba(173, 173, 173, 0.3), rgba(186, 186, 186, 0.3)); */
    position: relative;
    /* top: 70vmin; */
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 70%;
    /* padding: 1%; */
    /* margin: 0.5%; */

    /* align-items: center; */
}

.button {
    /* font-family: Montserrat; */
     background: linear-gradient(to left, rgba(107, 107, 107, 0.3), rgba(255, 255, 255, 0.3));
    font-size: x-large;
    color: rgba(255, 255, 255, 0.647);
    width: 50%;
    padding: 2%;
    margin: 1%, 1%;
    border: 0px;
}

h1 {
    text-align: center;
    font-size: 30pt;
    color: rgba(255, 255, 255, 0.647);
}
footer{
    position:relative;
    /* top: 70vmin; */
}
img {

    /* object-fit: fill; */
    /* width: 50%;  */
    width: 50%;
    /* max-height: 500px; */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.stage p {
    padding: 2% 5%;
    color: rgba(255, 255, 255, 0.647);
}

@media (width<768) {
    .stage {
        margin: auto;
        position: absolute;
        width: 60%;
    }

    #galery {
        margin: auto;
        margin-bottom: 0%;
        position: static;
        height: 100vh;
        width: 70%;

    }

    #buttons {
        display: flex;
        justify-content: center;
        padding: 0.5%;
    }
    .button {
        padding: 1%;
        margin: 0.5%, 0.5%;
    }

    h1 {
        text-align: center;
        font-size: 20pt;
    }

    img {

        width:147;
        height: 97px;
        
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .stage p {
        padding: 0.5% 2.5%;
    }
}