.stage{
    margin: auto;
    position:absolute;
    width: 70%;
    background: linear-gradient(to top, rgba(173, 173, 173, 0.3), rgba(186, 186, 186, 0.3));
}

#galery{
    margin: auto;
    margin-bottom: 0%;
    /* position:fixed; */
    height: 70vh;
    width: 70%;
    /* background-color: aqua; */
   
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 2%;
    margin: 0%, 1%;
}
h1{
    text-align: center;
    font-size: 30pt;
    color: rgba(255, 255, 255, 0.647);
}
img{
   
    /* object-fit: fill; */
     width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto
}
.stage p {
    padding: 1% 5%;
    color: rgba(255, 255, 255, 0.647);
}
